---
---

@import "{{ site.theme }}";

@media screen and (min-width: 64em) {
  .main-content {
    max-width: 80rem !important;
    font-size: 1rem !important;
  }
}

.wrapper {  
  max-width: 1300px;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}
