---
---

@import "{{ site.theme }}";

@media screen and (min-width: 64em) {
  .main-content {
    max-width: 80rem !important; 
  }
}

.wrapper {  
  max-width: 1400px;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}
