---
---

@import "{{ site.theme }}";

.site-header {
  display: none !important;
}

.wrapper {
  max-width: 80rem !important;
  padding-left: 2rem !important;
  padding-right: 2rem !important;
}

@media screen and (min-width: 64em) {
  .main-content {
    font-size: 1rem !important;
  }
}
